.footer-left {
    text-align: left;
    color: gray;
    margin-bottom: 5px;
}

.footer-right {
    text-align: right;
    color: gray;
    margin-bottom: 5px;
}

.me {
    color: #4863A0;
    font-weight: bold;
}

.count {
    color: gray;
}

.obsolete {
    color: red;
}

.dislike {
    font-weight: bold;
    color: orange;
}

.participated {
    color: green;
}

#filters {
    float: top;
    display: none;
    width: 100%;
}

#filters-toggle {
    text-align: center;
}

#dropdown {
    cursor: pointer;
}

.right {
    text-align: right;
}
