.footer-left {
    text-align: left;
    color: gray;
    margin-bottom: 5px;
}

.footer-right {
    text-align: right;
    color: gray;
    margin-bottom: 5px;
}

.footer-center {
    text-align: center;
    color: gray;
    margin-bottom: 5px;
}

.me {
    color: #4863A0;
    font-weight: bold;
}

.count {
    color: gray;
}

.obsolete {
    color: red;
}

.dislike {
    color: orange;
}

.build-unknown {
    color: lightgray;
}

.build-pending {
    color: orange;
}

.build-success {
    color: green;
}

.build-failure {
    color: red;
}

.participated {
    color: #4863A0;
}

#filters {
    float: top;
    display: none;
    width: 100%;
}

#filters-toggle {
    text-align: center;
}

#dropdown {
    cursor: pointer;
}

.right {
    text-align: right;
}

.signin {
    text-align: center;
}

#octocat {
    width: 266px;
    height: 221px;
}
