.footer-left {
    text-align: left;
    color: gray;
    margin-bottom: 5px;
}

.footer-right {
    text-align: right;
    color: gray;
    margin-bottom: 5px;
}

.footer-center {
    text-align: center;
    color: gray;
    margin-bottom: 5px;
}

.me {
    color: #4863A0;
    font-weight: bold;
}

.count {
    color: gray;
}

.obsolete {
    color: red;
}

.dislike {
    color: orange;
}

.build-unknown {
    color: gray;
}

.build-pending {
    color: orange;
}

.build-success {
    color: green;
}

.build-failure {
    color: red;
}

.check {
    color: white;
    border-radius: 12px;
    padding: 1px 4px;
    font-weight: bolder;
}
.check-queued {
    background: orange
}

.check-in_progress {
    background: orange
}

.check-action_required {
    background: red
}

.check-canceled {
    background: red
}

.check-timed_out {
    background: red
}

.check-failed {
    background: red
}

.check-failure {
    background: red
}

.check-success {
    background: green
}

.participated {
    color: #4863A0;
}

#filters {
    float: top;
    display: none;
    width: 100%;
}

#filters-toggle {
    text-align: center;
}

#dropdown {
    cursor: pointer;
}

.right {
    text-align: right;
}

.signin {
    text-align: center;
}

#octocat {
    width: 266px;
    height: 221px;
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 3px 16px;
    border-radius: 7px;
    margin: 20px 0px;
    background: #fff;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
}
