{% macro render(pull, user) -%}
    <strong>{{ pull['repo_name'] }}</strong>
    [{{ pull['target_branch'] }}] <a href="{{ pull['url'] }}">{{ pull['name'] }}</a> <em{% if pull['author'] == user %} class="me"{% endif %}>({{ pull['author'] }})</em><br/>
    {% for icon in pull['icons'] %}
        <span title="{{ icon['title'] }}" style="color: {{ icon['color'] }}">&#{{ icon['unicode'] }};</span>
    {% endfor %}
    {{ pull['likes'] }} likes /
    {% if pull['dislikes'] > 0 %}
        <span class="ke"> {{ pull['dislikes'] }} dislikes </span> /
    {% endif %}
    {% if pull['following'] %}<span class="participated">{% endif %}
        {{ pull['comments'] }} comments
    {% if pull['following'] %}</span>{% endif %} /
    {% if pull['obsolete'] %}<span class="obsolete">{% endif %}
        {{ pull['old'] }} days old
    {% if pull['obsolete'] %}</span>{% endif %}<br/>
    {% if pull['checks'] %}
    Check status:
    {% for checkstatus, check in pull['checks'].iteritems() %}
    <span title="{{ checkstatus }}" class="check-{{ checkstatus  }}"><b>&#{{ check['unicode'] }};: {{ check['num'] }}</b></span>
    {% endfor %}
    <br/>
    {% endif %}
    Build status: <span class="build-{{ pull['build_status'] }}">{{ pull['build_status'] }}</span>
{%- endmacro %}
