{% extends "layout.html" %}

{% import template as renderer %}

{% block header %}
    {% include 'filters.html' %}
{% endblock %}

{% block columns %}
    <div class="one-third column">
        <h3>{{ headers['left'] }} <span class="count">({{ stats['total-left'] }})</span></h3>
        {% for pull in pulls['left'] %}
        <div class="pull {{ pull['target_branch'] }} {{ pull['author'] }} {{ pull['repo_name'] }} card">{{ renderer.render(pull, user) }}</div>
        {% endfor %}
    </div>
    <div class="one-third column">
        <h3>{{ headers['middle'] }} <span class="count">({{ stats['total-middle'] }})</span></h3>
        {% for pull in pulls['middle'] %}
        <div class="pull {{ pull['target_branch'] }} {{ pull['author'] }} {{ pull['repo_name'] }} card">{{ renderer.render(pull, user) }}</div>
        {% endfor %}
    </div>
    <div class="one-third column">
        <h3>{{ headers['right'] }} <span class="count">({{ stats['total-right'] }})</span></h3>
        {% for pull in pulls['right'] %}
        <div class="pull {{ pull['target_branch'] }} {{ pull['author'] }} {{ pull['repo_name'] }} card">{{ renderer.render(pull, user) }}</div>
        {% endfor %}
    </div>
{% endblock %}
