<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Abiquo's pulls</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/base.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/skeleton.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/layout.css') }}">

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/apple-touch-icon.png') }}">
	<link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='images/apple-touch-icon-72x72.png') }}">
	<link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='images/apple-touch-icon-114x114.png') }}">

</head>
<body>
	<!-- Primary Page Layout
	================================================== -->

	<!-- Delete everything in this .container and get started on your own site! -->

	<div class="container">
		<div class="sixteen columns">
			<hr />
		</div>
		<div class="one-third column">
			<h3>Cold</h3>
                        {% for pull in pulls['cold'] %}
                        <p>
                            <a href="{{ pull['url'] }}">{{ pull['name'] }}</a><br/>
                            {{ pull['likes'] }} likes
                        </p>
                        {% endfor %}
		</div>
		<div class="one-third column">
			<h3>Hot!</h3>
                        {% for pull in pulls['hot'] %}
                        <p>
                            <a href="{{ pull['url'] }}">{{ pull['name'] }}</a><br/>
                            {{ pull['likes'] }} likes
                        </p>
                        {% endfor %}

		</div>
		<div class="one-third column">
			<h3>Burned</h3>
                        {% for pull in pulls['burned'] %}
                        <p>
                            <a href="{{ pull['url'] }}">{{ pull['name'] }}</a><br/>
                            {{ pull['likes'] }} likes
                        </p>
                        {% endfor %}
		</div>
	</div><!-- container -->


<!-- End Document
================================================== -->
</body>
</html>
