{% macro render(label, pulls, old_days, login, count) -%}
    <h3>{{ label }} <font color="gray">({{ count }})</font></h3>
    {% for pull in pulls %}
        <p>
        <strong>{{ pull['repo_name'] }}</strong>
        <a href="{{ pull['url'] }}">{{ pull['name'] }}</a> <em{% if pull['author'] == login %} class="me"{% endif %}>({{ pull['author'] }})</em><br/>
            {{ pull['likes'] }} likes /
            {% if pull['following'] %}<span style="color: green">{% endif %}
                {{ pull['comments'] }} comments
            {% if pull['following'] %}</span>{% endif %} / 
            {% if pull['old'] >= old_days %}<span style="color: red">{% endif %}
                {{ pull['old'] }} days old
            {% if pull['old'] >= old_days %}</span>{% endif %}
        </p>
    {% endfor %}
{%- endmacro %}
