{% macro render(label, pulls, old_days) -%}
    <h3>{{ label }}</h3>
    {% for pull in pulls %}
        <p>
        <strong>{{ pull['repo_name'] }}</strong>
        <a href="{{ pull['url'] }}">{{ pull['name'] }}</a> <em>({{ pull['author'] }})</em><br/>
        {% if pull['old'] >= old_days %}<span style="color: red">{% endif %}
            {{ pull['likes'] }} likes / {{ pull['comments'] }} comments / {{ pull['old'] }} days old
        {% if pull['old'] >= old_days %}</span>{% endif %}
        </p>
    {% endfor %}
{%- endmacro %}
