{% extends "layout.html" %}

{% block header %}
    <div class="signin sixteen columns">
        <h2>Authentication required</h2>
        <br />
    </div>
{% endblock %}

{% block columns %}
    <div class="signin sixteen columns">
        <form id="sigin_form" action="login" method="get">
            <img id="octocat" src="{{ url_for('static', filename='images/octocat.jpg') }}" title="Sign in with Github" />
            <br/><br/>
            <button type="submit" id="login" name="login">Sign in with Github</button><br>
            <label for="scope">
                <input type="checkbox" id="scope" name="scope" value="private">
                <span>Allow access to private repositories (includes write permissions)</span>
            </label>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
