{% extends "layout.html" %}

{% block logout %}
{% endblock %}

{% block header %}
    <div class="signin sixteen columns">
        <h2>Authentication required</h2>
        <br />
    </div>
{% endblock %}

{% block columns %}
    <div class="signin sixteen columns">
        <form id="sigin_form" action="login" method="get">
            <img id="octocat" src="{{ url_for('static', filename='images/octocat.jpg') }}" title="Sign in with Github" />
            <br/><br/>
            <button type="submit" id="login" name="login">Sign in with Github</button>
        </form>
    </div>
{% endblock %}

{% block footer %}
{% endblock %}
